* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'MochiyPopOne';
  src: url('/src/assets/fonts/Mochiy_Pop_One/MochiyPopOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


